---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: bitwarden-templates.lerentis.uploadfilter24.eu
spec:
  scope: Namespaced
  group: lerentis.uploadfilter24.eu
  names:
    kind: BitwardenTemplate
    plural: bitwarden-templates
    singular: bitwarden-template
    shortNames:
      - bwt
  versions:
    - name: v1beta1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                filename:
                  type: string
                template:
                  type: string
                namespace:
                  type: string
                name:
                  type: string
              required:
                - filename
                - template
                - namespace
                - name
