---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: registry-credentials.lerentis.uploadfilter24.eu
spec:
  scope: Namespaced
  group: lerentis.uploadfilter24.eu
  names:
    kind: RegistryCredential
    plural: registry-credentials
    singular: registry-credential
    shortNames:
      - rgc
  versions:
    - name: v1beta4
      served: true
      storage: false
      deprecated: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                usernameRef:
                  type: string
                passwordRef:
                  type: string
                registry:
                  type: string
                id:
                  type: string
                namespace:
                  type: string
                name:
                  type: string
              required:
                - id
                - namespace
                - name
                - usernameRef
                - passwordRef
                - registry
    - name: v1beta5
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                usernameRef:
                  type: string
                passwordRef:
                  type: string
                registry:
                  type: string
                id:
                  type: string
                namespace:
                  type: string
                name:
                  type: string
                labels:
                  type: object
                  x-kubernetes-preserve-unknown-fields: true
              required:
                - id
                - namespace
                - name
                - usernameRef
                - passwordRef
                - registry
