apiVersion: v1
kind: Secret
metadata:
  annotations:
    managed: "bitwarden-secrets.lerentis.uploadfilter24.eu"
    crd: "{{ original_crd }}"
  name: "{{ secret_name }}"
  namespace: "{{ namespace }}"
type: Opaque
data:
  username: "{{ username }}"
  password: "{{ password }}"
